.banner {
    margin: 0 auto;
    background: url("../icons/bg.png"),  rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    width: 100%;
    height: 1026px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.banner__content {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.banner__about {
    width: 670px;
    display: inline-block;
    margin-right: 30px;
}

.banner img {
    display: inline-block;
    height: 100px;
}

.banner__title {
    margin-top: 45px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #FFF;
    line-height: 1.2;
}

.banner__title__separator {
    margin-top: 50px;
    border-top: 1px solid #FFF;
    width: 170px;
}

.banner__text {
    width: 270px;
    margin-top: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #FFF;
}

.button__download {
    width: 270px;
    padding: 15px 0;
    margin-top: 35px;
    border: 2px solid #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #FFF;
    background: transparent;
    cursor: pointer;
}

.button__download:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}

.button__download:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}

.banner__form {
    width: 470px;
    height: 450px;
    background: #FFF;
    border-radius: 10px;
    text-align: center;
}

.form__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #333333;
    padding: 30px 0;
    margin: 0 auto;
    text-align: center;
}

.form__title span {
    color:#EC7979;
}

.banner__form input {
    width: 78%;
    margin-top: 20px;
    padding: 16px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #BDBDBD;
    border: none;
    border-bottom: 1px solid #BDBDBD;
}

.banner__form button {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFF;
    padding: 22px 0;
    background: #EC7979;
    border-radius: 0px 0px 10px 10px;
    border: none;
    position: relative;
    top: 69px;
    cursor: pointer;
}

.banner__form button:hover {
    background: #AB4949;
}

.banner__form button:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}

@media (max-width: 1170px) {
    .banner {
    height: 768px;
    }

    .banner__content {
    width: 100%;
    }
}

@media (max-width: 1024px) {
    .banner__content {
        justify-content: space-evenly;
    }

    .banner__about {
        width: 455px;
    }

    .banner img {
        height: 75px;
    }

    .banner__title {
        font-size: 36px;
    }

    .banner__title__separator {
        width: 115px;
    }
    
    .banner__text {
        width: 183px;
        font-size: 14px;
    }
    
    .button__download {
        width: 183px;
    }
    
    .banner__form {
        width: 400px;
    }
    
    .form__title {
        font-size: 18px;
    }

    .banner__form button {
        top: 78px;
    }
}

@media (max-width: 605px) {
    header img {
        height: 75%;
        margin-left: 5px;
    }

    .menu {
        width: 100%;
    }

    .banner {
        height: 1005px;
    }

    .banner__about {
        margin-bottom: 50px;
        text-align: center;
        width: 100%;
        margin-right: 0;
    }

    .banner__about img {
        display: none;
    }

    .banner__content {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .banner__title__separator {
        margin: 50px auto;
    }

    .banner__text {
        width: 100%;
    }

    .button__download {
        text-align: center;
        width: 100%;
    }

    .banner__form {
        width: auto;
        height: 340px;
    }
    
    .form__title {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .banner__form input {
        margin-top: 0;
    }
    
    .banner__form button {
        top: 44px;
    }
    
    .banner__form button:hover {
        background: #AB4949;
    }
    
    .banner__form button:active {
        background: #EC7979;
        box-shadow: inset 0px 0px 10px #AB4949;
    }
}