header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 75px;
    background: #000;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    color: #FFF;
}

.menu li {
    padding: 25px;
}

.menu li:hover {
    cursor: pointer;
    background: #EC7979;
}

.menu li:active {
    background: #AB4949;
}

/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
    display: none;
}

@media (max-width: 675px) {
  /* стилизуем кнопку */
.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: relative;
    width: 24px;
    height: 18px;
    cursor: pointer;
    z-index: 1;
}

  /* добавляем "гамбургер" */
.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

header {
    justify-content: space-between;
    padding: 0 20px;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 74px;
    width: 100%;
    text-align: center;
    background-color: #000;
}

  /* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
}

.menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
    transition-duration: .25s;
}
.menu__box {
    transition-duration: .25s;
}
.menu__item {
    transition-duration: .25s;
}
}