.reviews {
    display: block;
    margin: 0 auto;
    width: 1170px;
}

.reviews__title {
    margin-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #000000;
    padding: 50px 0 40px;
    text-align: center;
}

.reviews__title__separator {
    border-top: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto;
}

.reviews__text {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #86878B;
    margin: 40px auto 80px;
    text-align: center;
}

.reviews__box {
    display: flex;
    justify-content: center;
}

.customer {
    width: 33.3%;
    margin: 0 15px;
    margin-bottom: 50px;
}

.customer__descr {
    background: #E2E2E2;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #86878B;
    padding: 40px 15px;
}

.polygon {
    width: 30px;
    height: 30px;
    background: #E2E2E2;
    transform: rotate(45deg);
    margin-left: 70px;
    margin-top: -15px;
}

.customer__about {
    display: flex;
}

.customer__about>img {
    margin-top: 66px;
    width: 70px;
    height: 70px;
}

.customer__about>h4 {
    margin-top: 66px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    float: right;
    padding: 9px 0 0 30px;
}

.reviews__box span {
    margin-left: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.customer__switcher {
    margin: 0 auto 30px;
    display: none;
}

@media (max-width: 1170px) {
    .reviews {
        width: 100%;
    }

    .customer__about>h4 {
        font-size: 20px;
}
}

@media (max-width: 1024px) {
    .reviews__title {
        font-size: 24px;
        margin-top: 25px;
    }

    .reviews__title__separator {
        width: 142px;
    }

    .reviews__text {
        font-size: 14px;
        margin: 30px auto;
    }

    .customer__descr {
        font-size: 14px;
    }

    .customer__about>img {
        width: 63px;
        height: 63px;
        margin-top: 55px;
    }
    
    .customer__about>h4 {
        font-size: 18px;
        margin-top: 55px;
    }
    
    .reviews__box span {
        font-size: 14px;
        position: relative;
        top: -20px;
        margin-left: 93px;
    }
}

@media (max-width: 858px) {
    .reviews__title__separator {
        width: 134px;
    }

    .customer__about>img {
        width: 57px;
        height: 57px;
    }

    .customer__about>h4 {
        font-size: 14px;
    }
    
    .reviews__box span {
        font-size: 13px;
        position: relative;
        top: -10px;
        margin-left: 87px;
    }
}

@media (max-width: 660px) {
    .customer {
        width: 90%;
    }

    .customer1, .customer3 {
        display: none;
    }

    .customer__descr {
        padding: 20px;
    }

    .customer__switcher {
        display: block;
    }
}